*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries/*
/.idea/inspectionProfiles/*
/.idea/caches
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
